In [2]:
val my_imx = 10

my_imx = 10

10

In [3]:
var my_mutx = 20

my_mutx = 20

20

In [4]:
var myname = "hi"

myname = hi

hi

In [5]:
var state = "New York"

state = New York

New York

In [6]:
var principal = 500

principal = 500

500

In [7]:
var interest_rate = 12

interest_rate = 12

12

In [8]:
var years = 5

years = 5

5

In [10]:
var interest = principal * interest_rate * years/100

interest = 300

300

In [11]:
object Hello {
   def main(args: Array[String]) {
      var str:String = "hello"
      println(str)
      str = "hello all"
      println(str)
      str.concat(" there")
      println(str)
      str = str.concat(" there")
      println(str)
   }
}

defined object Hello

In [15]:
Hello.main(Array())

hello
hello all
hello all
hello all there

In [18]:
object Demo {
   def main(args: Array[String]) {
      var floatVar = 10.123
      var intVar = 5000
      var stringVar = "Hello There"

      var fs = printf("The value of the float variable is " + "%f, while the value of the integer " + "variable is %d, and the string " + "is %s", floatVar, intVar, stringVar);

      println(fs)
   }
}

defined object Demo

In [19]:
Demo.main(Array())

The value of the float variable is 10.123000, while the value of the integer variable is 5000, and the string is Hello There()

In [20]:
val name = "John"
println(s"Hello $name") //output: Hello John

Hello John

name = John

John

In [21]:
println(s"2 + 3 = ${2 + 3}") //output: 2 + 3 = 5

2 + 3 = 5

In [22]:
val height = 1.7d
val name = "John"
println(f"$name%s is $height%2.2f meters tall") //John is 1.70 meters tall

John is 1.70 meters tall

height = 1.7
name = John

John

In [23]:
println(s"Result = \n a \n b")

Result =
 a
 b

In [24]:
println(raw"Result = \n a \n b")

Result = \n a \n b

In [25]:
var str1:String = "one"
println("Length is " + str1.length());

Length is 3

str1 = one

one

In [26]:
var str1:String = "one"
var str2:String = str1.concat(" two")
println("Combined string is " + str2);

Combined string is one two

str1 = one
str2 = one two

one two

In [27]:
var str:String = "New York"
println("Char at 5th index is " + str.charAt(4));

Char at 5th index is Y

str = New York

New York

In [28]:
var str:String = "New York"
println("New string is " + str.replace("York","Shire"));

New string is New Shire

str = New York

New York

In [29]:
var str:String = "New York 1ab2c3"
println("New string is " + str.replaceAll("[0-9]","x"));

New string is New York xabxcx

str = New York 1ab2c3

New York 1ab2c3

In [30]:
var str:String = "New York"
// replace all w and k with z
println("New string is " + str.replaceAll("w|k","z"));

New string is Nez Yorz

str = New York

New York

In [31]:
var str:String = "New,York,Hello, There"
var strarray = new Array[String](3)
strarray = str.split(",")
println("New string is " + strarray(0));
println(strarray.deep.mkString("\n"))

New string is New
New
York
Hello
 There

str = New,York,Hello, There
strarray = Array(New, York, Hello, " There")
strarray = [Ljava.lang.String;@40932c79

[New, York, Hello,  There]

In [32]:
var str:String = "NewxYorkyHello, There"
var str1 = str.substring(4,9)
println("New string is " + str1)

New string is Yorky

str = NewxYorkyHello, There
str1 = Yorky

Yorky

In [1]:
object Purge {
    def purgeVowels( str:String ) : String = {
        var str1: String=str.replaceAll("a|e|i|o|u|A|E|I|O|U","")

    return str1
        
    }
}

defined object Purge

In [2]:

Purge.purgeVowels("New York")

Nw Yrk

In [1]:
def simpleInterest(principal :Int, rate :Double, duration : Int) : Double = {
    if(principal < 0){
        println("wrong principal");
        return 0;
    }
    var interest = principal * rate * duration /100;
    return interest
}

simpleInterest: (principal: Int, rate: Double, duration: Int)Double

In [2]:
simpleInterest(-100,7,4)

wrong principal

0.0

In [3]:
simpleInterest(100,7,4)

28.0

In [4]:
var a = List(4,9,8)

a = List(4, 9, 8)

List(4, 9, 8)

In [5]:
for (x <- a){
    println(x)
}

4
9
8

In [6]:
var x = 15

x = 15

15

In [7]:
while(x >0){
    println(x)
    x = x - 1
}

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [8]:
object Hello {
   def main(args: Array[String]) {
      var x = 5;

      if( x < 10 ){
         println("If condition is true");
      }
   }
}

defined object Hello

In [9]:
Hello.main(Array())

If condition is true

In [10]:
object Hello {
   def main(args: Array[String]) {
      var x = 5;

      if( x < 10 ){
         println("If condition is true");
      } else {
         println("If condition is false");
      }
   }
}

defined object Hello

In [11]:
Hello.main(Array())

If condition is true

In [12]:
object Hello {
   def main(args: Array[String]) {
      // Local variable declaration:
      var a = 5;

      // while loop execution
      while( a < 10 ){
         a = a + 1;
         println( "Value of a: " + a );
      }
   }
}

defined object Hello

In [13]:
Hello.main(Array())

Value of a: 6
Value of a: 7
Value of a: 8
Value of a: 9
Value of a: 10

In [15]:
object Hello {
   def main(args: Array[String]) {
      // Local variable declaration:
      var a = 5;

      // do loop execution
      do {
         a = a + 1;
         println( "Value of a: " + a );          }
      while( a < 10 )
   }
}

defined object Hello

In [16]:
Hello.main(Array())

Value of a: 6
Value of a: 7
Value of a: 8
Value of a: 9
Value of a: 10

In [18]:
object Hello {
   def main(args: Array[String]) {
      var a = 0;

      // for loop execution with a range
      println("Loop 1 - simple loop")
      for( a <- 1 to 5){
         println( "Value of a: " + a );
      }

      println("Loop 2 - loop with custom incremental value")
      for( a <- 1 to 10 by 2){
         println( "Value of a: " + a );
      }

      println("Loop 3 - loop in reverse, decreasing order")
      for( a <- 5 to 1 by -1){
         println( "Value of a: " + a );
      }

      println("Loop 4 - loop using until, one iteration less than simple loop")
      for( a <- 5 until 1 by -1){
         println( "Value of a: " + a );
      }

      println("Loop 5 - loop over collections")
      val myList = List(1,2,3,4,5);
      for( a <- myList ){
         println( "Value of a: " + a );
      }

      println("Loop 6 - loop over multiples ranges, loop within loop")
      for( a <- 1 to 5; b <- 1 to 3){
         println( "Value of a: " + a );
         println( "Value of b: " + b );
      }
   }
}

defined object Hello

In [19]:
Hello.main(Array())

Loop 1 - simple loop
Value of a: 1
Value of a: 2
Value of a: 3
Value of a: 4
Value of a: 5
Loop 2 - loop with custom incremental value
Value of a: 1
Value of a: 3
Value of a: 5
Value of a: 7
Value of a: 9
Loop 3 - loop in reverse, decreasing order
Value of a: 5
Value of a: 4
Value of a: 3
Value of a: 2
Value of a: 1
Loop 4 - loop using until, one iteration less than simple loop
Value of a: 5
Value of a: 4
Value of a: 3
Value of a: 2
Loop 5 - loop over collections
Value of a: 1
Value of a: 2
Value of a: 3
Value of a: 4
Value of a: 5
Loop 6 - loop over multiples ranges, loop within loop
Value of a: 1
Value of b: 1
Value of a: 1
Value of b: 2
Value of a: 1
Value of b: 3
Value of a: 2
Value of b: 1
Value of a: 2
Value of b: 2
Value of a: 2
Value of b: 3
Value of a: 3
Value of b: 1
Value of a: 3
Value of b: 2
Value of a: 3
Value of b: 3
Value of a: 4
Value of b: 1
Value of a: 4
Value of b: 2
Value of a: 4
Value of b: 3
Value of a: 5
Value of b: 1
Value of a: 5
Value of b: 2
Value of a: 5
Value of b: 3

In [41]:
object Greet {
    def greet(time : Int ) : String = {
        if(time >= 4 & time < 12){
        return "Good Morning"
        }
        else if(time >= 12 & time < 16){
        return "Good Afternoon"
        }
        else if(time >= 16 & time < 21){
        return "Good Evening"
        }
        else{
        return "Good Night"
        }
    }
}

defined object Greet

In [42]:
Greet.greet(4)

Good Morning

In [43]:
Greet.greet(12)

Good Afternoon

In [5]:
class Person(val fname : String, val lname : String, val anage : Int) {
    val firstname : String = fname ;
    val lastname: String = lname;
    val age : Int = anage;
    def getfullname():String = {
        return firstname + " " + lastname;
    }
}

defined class Person

In [6]:
val obj = new Person("Robin","Gill",42)

obj = Person@11c2cf31

$line25.$read$$iw$$iw$Person@11c2cf31

In [7]:
obj.age

42

In [13]:
obj.firstname

Robin

In [14]:
obj.getfullname()

Robin Gill

In [15]:
class Car(makeOfCar: String, modelOfCar: String, yearOfCar: Int) {
   var make: String = makeOfCar;
   var model: String = modelOfCar;
   var year: Int = yearOfCar;
   var color = "";
   def changeColor(colorOfCar: String) {
      color = colorOfCar;
      println ("New color of car:" + color);
   }
}

object Demo {
   def main(args: Array[String]) {
      var car1 = new Car("Honda", "City", 1996);
      var car2 = new Car("Honda", "Accord", 1999);
      var car3 = new Car("Honda", "Amaze", 2015);
      println("Car details:" + car1.make + " " + car1.model + " " + car1.year + " " + car1.color)
      println("Car details:" + car2.make + " " + car2.model + " " + car2.year + " " + car2.color)
      println("Car details:" + car3.make + " " + car3.model + " " + car3.year + " " + car3.color)
   }
}

defined class Car
defined object Demo

In [16]:
Demo.main(Array())

Car details:Honda City 1996
Car details:Honda Accord 1999
Car details:Honda Amaze 2015

In [38]:
import java.io._

class Car() {
    var make: String = "";
    var model: String = "";
    var year: Int = 0;
    var color = "";

    def this(makeOfCar: String, modelOfCar: String, yearOfCar: Int) {
        this()
        println("Creating new car object per first constructor")
        this.make = makeOfCar;
        this.model = modelOfCar;
        this.year = yearOfCar;
        this.color = "Black";
    }

    def this(makeOfCar: String, modelOfCar: String) {
        this()
        println("Creating new car object per second constructor")
        this.make = makeOfCar;
        this.model = modelOfCar;
        this.year = 1990;
        this.color = "Blue";
    }

    def dispCar() {
        println("Car details:" + this.make + " " + this.model + " " + this.year + " " + this.color)
    }
}


object Demo {
    def main(args: Array[String]) {
        var car1 = new Car("Honda", "City", 1996);
        var car2 = new Car("Honda", "Accord");
        var car3 = new Car("Honda", "Amaze", 2015);
        println("")
        println("Displaying car info in main program:")
        println("Car details:" + car1.make + " " + car1.model + " " + car1.year + " " + car1.color)
        println("Car details:" + car2.make + " " + car2.model + " " + car2.year + " " + car2.color)
        println("Car details:" + car3.make + " " + car3.model + " " + car3.year + " " + car3.color)
        println("")
        println("Displaying car info via function:")
        dispCarDetails(car1)
        dispCarDetails(car2)
        dispCarDetails(car3)
        println("")
        println("Display car info via class func:")
        car1.dispCar()
        car2.dispCar()
        car3.dispCar()
    }

    def dispCarDetails(car:Car) = {
        println("Car details via func:" + car.make + " " + car.model + " " + car.year + " " + car.color)
    }

}

defined class Car
defined object Demo

In [23]:
Demo.main(Array())

Creating new car object per first constructor
Creating new car object per second constructor
Creating new car object per first constructor

Displaying car info in main program:
Car details:Honda City 1996 Black
Car details:Honda Accord 1990 Blue
Car details:Honda Amaze 2015 Black

Displaying car info via function:
Car details via func:Honda City 1996 Black
Car details via func:Honda Accord 1990 Blue
Car details via func:Honda Amaze 2015 Black

Display car info via class func:
Car details:Honda City 1996 Black
Car details:Honda Accord 1990 Blue
Car details:Honda Amaze 2015 Black

In [33]:
class Student(name_stu : String, sex_stu : Char, grade_stu : Int, age_stu : Int) {
    var name : String = name_stu;
    var sex : Char = sex_stu;
    var grade : Int = grade_stu;
    var age : Int = age_stu;
}
object Demo {
    def main(args: Array[String]){
        var stu1 = new Student("John Doe", 'M', 15, 23 );
        var name_stu = stu1.name;
        println(name_stu)
        var sex_stu = stu1.sex;
        println(sex_stu)
        var grade_stu = stu1.grade;
        println(grade_stu)
        var age_stu = stu1.age;
        println(age_stu)
    }
}

defined class Student
defined object Demo

In [34]:
Demo.main(Array())

John Doe
M
15
23

In [39]:
class Student() {
var name: String = "";
var sex: Char = 'F';
var grade: Int = 5;
var age: Int =12;

def this(name_a: String) {
this()
println("Creating new object per first constructor")
this.name = name_a
}

def this(name_a: String, sex_a: Char) {
this()
println("Creating new object per second constructor")
this.name = name_a;
this.sex = sex_a;
}

def this(name_a: String, sex_a: Char, grade_a: Int) {
this()
println("Creating new object per third constructor")
this.name = name_a;
this.sex = sex_a;
this.grade = grade_a;
}

def this(name_a: String, sex_a: Char, grade_a: Int, age_a: Int){
this()
println("Creating new object per fourth constructor")
this.name = name_a;
this.sex = sex_a;
this.grade = grade_a;
this.age = age_a;
}
}

var stu = new Student("Doe", 'F', 8, 16);

var name_stu = stu.name
var sex_stu = stu.sex
var grade_stu = stu.grade
var age_stu = stu.age

Creating new object per fourth constructor

defined class Student
stu = Student@2322a543
name_stu = Doe
sex_stu = F
grade_stu = 8
age_stu = 16

16

In [40]:
object Hello {
   def addNumbers( x:Int, y:Int ) : Int = {
      var sum:Int = 0
      sum = x + y
      return sum
   }
}

defined object Hello

In [41]:
Hello.addNumbers(2,3)

5

In [42]:
//this is import of non-default packages to access specific utilities
import java.text.SimpleDateFormat
import java.util.Calendar
//this is main class of the scala program
object HelloWorld {
  //this is the main method of the program
  //this is the method which called when the program is run

  def main(args: Array[String]) {
    println("Hello, world!") // prints Hello World

    //display current date time using a function
    dispDateTime();

    var result: Int = 0;
    //get sum of 2 numbers using a function
    result = calcSum(5, 7);
    println("Result is:" + result)
  }

  def dispDateTime(): Unit= {
    val now = Calendar.getInstance().getTime()
    //println is a function which take st
    println("Current time is " + "as below")
    println(now+"\n")
  }

  def calcSum(a: Int, b: Int): Int = {
    var sum: Int = 0
    sum = a + b
    return sum
  }

}

defined object HelloWorld

In [43]:
HelloWorld.main(Array())

Hello, world!
Current time is as below
Sat May 02 17:34:19 UTC 2020

Result is:12

In [53]:
object Calc{
    def calcSum(x : Int, y: Int): Int ={
        var sum : Int = 0
        for(a <- x to y){
             sum = a + sum
        }
        return sum
    }
}

defined object Calc

In [54]:
 Calc.calcSum(5,8)

26

In [55]:
val multiplier = (i:Int) => i * 10

multiplier = > Int = <function1>

In [56]:
var factor = 3
val multiplier = (i:Int) => i * factor

factor = 3
multiplier = > Int = <function1>

In [57]:
object Hello {
   def main(args: Array[String]) {
      println( "multiplier(1) value = " +  processme(1) )
      println( "multiplier(2) value = " +  processme(2) )
   }
   var factor = 4
   val processme = (i:Int) => i * (factor+1)
}

defined object Hello

In [58]:
var languages = Array("Ruby","SQl","Python")

languages = Array(Ruby, SQl, Python)

[Ruby, SQl, Python]

In [59]:
languages(0)

Ruby

In [60]:
languages(1) = "C++"

In [61]:
languages

[Ruby, C++, Python]

In [64]:
for( x <- languages){
    println(x)
}

Ruby
C++
Python

In [65]:
var number_list = List(1,2,3)

number_list = List(1, 2, 3)

List(1, 2, 3)

In [67]:
number_list :+ 4

List(1, 2, 3, 4)

In [68]:
var set = Set(76,8,9,1,2)

set = Set(1, 9, 2, 76, 8)

Set(1, 9, 2, 76, 8)

In [69]:
set = set + 9

set = Set(1, 9, 2, 76, 8)

Set(1, 9, 2, 76, 8)

In [70]:
set = set + 20

set = Set(20, 1, 9, 2, 76, 8)

Set(20, 1, 9, 2, 76, 8)

In [71]:
var t = (14,2,3,"india")

t = (14,2,3,india)

(14,2,3,india)

In [74]:
var strArray = Array("John","Doe","Jane","Sach")

strArray = Array(John, Doe, Jane, Sach)

[John, Doe, Jane, Sach]

In [77]:
import Array._

var numArray = range(10,21,2)

numArray = Array(10, 12, 14, 16, 18, 20)

[10, 12, 14, 16, 18, 20]

In [1]:
val strList = List("apple", "banana", "mango", "orange", "pears")

strList = List(apple, banana, mango, orange, pears)

List(apple, banana, mango, orange, pears)

In [2]:
 var intSet:Set[Int] = Set(2,4,17,19)

intSet = Set(2, 4, 17, 19)

Set(2, 4, 17, 19)

In [4]:
val charMap = Map('A' -> 1, 'B' -> 2, 'C' -> 3)

charMap = Map(A -> 1, B -> 2, C -> 3)

Map(A -> 1, B -> 2, C -> 3)

In [5]:
val myTuple = (5,"Hello",100)

myTuple = (5,Hello,100)

(5,Hello,100)

In [8]:
val myIter = Iterator("I", "am", "going")

myIter = non-empty iterator

non-empty iterator

In [14]:
import java.io._


val writer = new PrintWriter(new File("New.txt" ))
writer.write("Hello Scala\n")
writer.write("Bye Scala")
writer.close()

writer = java.io.PrintWriter@2068d9ce

java.io.PrintWriter@2068d9ce

In [16]:
var list = List(1,2,3)

list = List(1, 2, 3)

List(1, 2, 3)

In [17]:
list.map(x => x+1)

List(2, 3, 4)

In [18]:
list.map(_ +1)

List(2, 3, 4)

In [19]:
var list = List("Python","Go")

list = List(Python, Go)

List(Python, Go)

In [20]:
list.flatMap(lang => lang + "#")

List(P, y, t, h, o, n, #, G, o, #)

In [1]:
list.flatMap(_ + '#')

List(P, y, t, h, o, n, #, G, o, #)

In [2]:
var list = List("Scala","R","Python","Go","SQL")

list = List(Scala, R, Python, Go, SQL)

List(Scala, R, Python, Go, SQL)

In [3]:
list.filter(lang => lang.contains("S"))

List(Scala, SQL)

In [4]:
var list = List(1,2)

list = List(1, 2)

List(1, 2)

In [5]:
list.foreach(println)

1
2

In [6]:
var list = List(3,7,13,16)

list = List(3, 7, 13, 16)

List(3, 7, 13, 16)

In [7]:
list.reduce((x,y) => x+y)

39

In [8]:
list.reduce(_+_)

39